@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #849d8f;
  background-image: url(/img/header/light-green-header.png);
  background-repeat: repeat-x;
  background-size: 655px;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: #fff;
  width: 1146px;
  margin: 0 auto;
  letter-spacing: 0.1px;
}

.visually-hidden {
  display: none;
}

a {
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}
button {
  cursor: pointer;
}

.pink-link-color {
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

.pink-link-color:hover,
.pink-link-color:active {
  color: #ffbc9e;
  border-bottom: 1px solid rgba(255, 188, 158);
}

.site-navigation {
  font-weight: bold;
}

.user-navigation {
  font-weight: 500;
  font-size: 14px;
}

.site-navigation,
.user-navigation,
.catalog,
.catalog-list,
.catalog-ice-cream,
.social-button-list {
  list-style: none;
  display: flex;
}

.logo-in-header {
  margin: 8px 9px 0 0;
}

.catalog-in-nav {
  position: relative;
  padding-bottom: 20px;
}

.site-navigation a {
  margin: 70px 13px 7px 14px;
}

.site-navigation .link-site-navigation {
  margin: 0;
  padding: 7px 13px 7px 14px;
  background-color: rgb(208, 112, 88);
  border-radius: 16px;
}

.site-navigation .link-site-navigation:hover {
  background-color: #fff;
  color: #000;

}

.site-navigation .link-site-navigation:active {
  box-shadow: inset 1px 2px 1px 0px rgba(0, 0, 0, 0.5);
}
.catalog-list-see .page-presence {
  background-color: rgb(208, 112, 88);
}
.catalog-list {
  display: none;
  position: absolute;
}

.catalog-in-nav:hover .catalog-list {
  display: block;
  position: absolute;
  left: 0px;
  text-align: left;
  top: 32px;
}

.catalog-list a {
  display: flex;
  width: 143px;
  color: #000;
  font-size: 14px;
  font-weight: 400;
  background-color: #fff;
  padding: 8px;
  padding-left: 15px;
  margin: 0;
  box-sizing: border-box;
}

.catalog-new-item {
  border-radius: 5px 5px 0 0;
}

.catalog-melorin-item {
  border-radius: 0 0 5px 5px;
}

.catalog-list-see .catalog-new-item {
  font-weight: 700;
  position: relative;
}

.catalog-list-see .catalog-new-item::before {
  position: absolute;
  width: 128px;
  content: "";
  height: 1px;
  background-color: #d1d0ce;
  left: 7px;
  bottom: 0;
}

.catalog-list-see a:hover {
  background-color: #fbded7;
  color: #000;
}

.catalog-list-see a:active {
  background-color: #f6b5a5;
  color: #000;
}

.main-navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.site-navigation {
  margin-top: 30px;
}

.all-navigation {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
}

.user-navigation {
  margin: 23px 0px 16px 0;
}

.main-header {
  text-align: right;
  margin-bottom: 10px;
}

.header-work-time {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 3px;
}

.header-work-phone {
  font-size: 22px;
  font-weight: bold;
}

.site-navigation-search {
  margin-top: 1px;
}

.site-navigation-search a {
  padding: 0px 16px 16px 16px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  position: relative;
}

.site-navigation-search a:hover {
  background-color: #fff;
  position: relative;
}

.site-navigation-search a::before {
  content: "";
  width: 17px;
  height: 17px;
  position: absolute;
  background-image: url("../img/header/loupe-white.svg");
  background-repeat: no-repeat;
  top: 8px;
  left: 8px;
}

.site-navigation-search a:hover::before {
  content: "";
  position: absolute;
  width: 17px;
  height: 17px;
  background-image: url("../img/header/loupe-black.svg");
  background-color: #fff;
  background-repeat: no-repeat;
  top: 8px;
  left: 8px;
}

.site-navigation-search {
  position: relative;
}

.site-navigation-search:hover .search-form {
  display: block;
  position: absolute;
  width: 340px;
  min-height: 85px;
  background-color: #f8f7f4;
  right: 8px;
  top: 36px;
  border-radius: 7px;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
}

.search-form input[type="text"] {
  height: 42px;
  width: 310px;
  margin-right: 19px;
  margin-top: 20px;
  padding-left: 13px;
  border: 1px solid #d3d3d2;
  border-radius: 5px;
  box-sizing: border-box;
}

.site-navigation-input .input-link {
  padding: 8px 17px 8px 45px;
  background-color: rgba(255, 255, 255, 0.2);
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 17px;
}

.site-navigation-input .input-link:hover {
  background-color: #fff;
  color: #000;
}

.site-navigation-input {
  position: relative;
}

.site-navigation-input:hover .login-form {
  display: block;
  position: absolute;
  width: 277px;
  min-height: 215px;
  background-color: #f8f7f4;
  right: 8px;
  top: 28px;
  border-radius: 7px;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
}

.login-form input[type="email"] {
  height: 42px;
  width: 240px;
  margin-right: 19px;
  margin-top: 20px;
  border: 1px solid #d3d3d2;
  border-radius: 5px;
  padding-left: 13px;
  box-sizing: border-box;
}

.login-form input[type="password"] {
  height: 42px;
  width: 239px;
  margin-right: 19px;
  margin-top: 20px;
  border: 1px solid #d3d3d2;
  border-radius: 5px;
  padding-left: 13px;
  box-sizing: border-box;
}

.login-form {
  position: relative;
}

.login-form input[type="submit"] {
  position: absolute;
  top: 148px;
  left: 18px;
  color: #fff;
  border: none;
  font-size: 18px;
  font-weight: bold;
  padding: 11px 25px 11px 25px;
  background: linear-gradient(to top, #e74a35, #f26843);
  border-radius: 32px;
  box-shadow: 0px 2px 2px rgba(172, 16, 0, 0.64);
}

input[type="checkbox"],
input[type="radio"] {
  display: none;
}

.range-selector {
  background-color: rgba(255, 255, 255, 0.2);
  padding: 5px 21px 9px 21px;
  border-radius: 32px;
}
.cost-choice-section {
  margin: 0 15px;
}

input[type="range"] {
  width: 176px;
}
input[type="checkbox"] + label:before {
  height: 20px;
  width: 23px;
  background-image: url(/img/form/checkbox-off.png);
  background-repeat: no-repeat;
  border-radius: 3px;
  content: "";
  display: inline-block;
  margin: 0px 7px 0 18px;
  vertical-align: middle;
  transition: color ease 0.3s;
  opacity: 0.8;
  cursor: pointer;
}

input[type="checkbox"]:first-child + label:before {
  margin-left: 0px;
}

input[type="checkbox"]:checked + label:before {
  background-image: url(/img/form/checkbox-on.png);
  color: #fff;
  border-color: #fff;
  border-radius: 3px;
}

.label-cost {
  font-size: 14px;
  font-weight: 500;
  margin-left: 16px;
  padding-bottom: 3px;
}
.fat-content {
  margin-left: 16px;
  padding-bottom: 3px;
  font-size: 14px;
  font-weight: 500;
}

.fatty-section {
  display: flex;
  flex-direction: column;
}

.fatty-section div {
  background-color: rgba(255, 255, 255, 0.2);
  padding: 6px 16px 6px 16px;
  border-radius: 32px;
}

input[type="radio"] + label:before {
  background-image: url(/img/form/radio-off.png);
  background-repeat: no-repeat;
  content: "";
  display: inline-block;
  margin: 0px 7px 0 15px;
  height: 22px;
  width: 22px;
  vertical-align: middle;
  transition: color ease 0.3s;
  opacity: 0.8;
  cursor: pointer;
}

input[type="radio"]:first-child + label:before {
  margin-left: 0px;
}

input[type="radio"]:checked + label:before {
  background-image: url(/img/form/radio-on.png);
  color: #fff;
  border-color: #fff;
  border-radius: 3px;
}

input[type="checkbox"]:hover + label:before,
input[type="radio"]:hover + label:before {
  opacity: 1;
}

input[type="radio"] + label {
  font-weight: 500;
}

.filler-section {
  margin: 12px 0 3px 16px;
  font-size: 14px;
  font-weight: 500;
}

input[type="range"] {
  -webkit-appearance: none;
}
input[type="range"] {
  -webkit-appearance: none;
  border-radius: 2px;
  height: 5px;
  outline: none;
  background-color: rgba(255, 255, 255, 0.6);
}
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-color: #fff;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  cursor: pointer;
  background-image: url("../img/form/filter-button.png");
}

.product-selection-part-two button {
  color: #fff;
  border: none;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  padding: 7px 28px 7px 29px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 32px;
  outline: none;
  border: 2px solid #fff;
  margin-left: 14px;
}

.product-selection-part-two button:hover {
  background-color: #fff;
  color: #000;
  border: none;
  padding: 9px 27px 9px 27px;
}

.product-selection-part-two button:active {
  background-color: #fff;
  box-shadow: inset 1px 2px 1px 0px rgba(106, 107, 106, 0.5);
}

.login-form p {
  text-align: left;
  color: #323232;
  margin-top: 24px;
}

.login-form a {
  display: inline-block;
  color: #323232;
  margin-left: 139px;
  margin-bottom: 7px;
  border-bottom: 1px solid #323232;
}

.input-link {
  position: relative;
}

.input-link::before {
  content: "";
  position: absolute;
  width: 21px;
  height: 19px;
  background-image: url("../img/header/entrance-white.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  left: 18px;
  top: 6px;
}

.input-link:hover::before {
  content: "";
  position: absolute;
  width: 21px;
  height: 19px;
  background-image: url("../img/header/entrance-black.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  left: 18px;
  top: 6px;
}

.site-navigation-basket,
.site-navigation-input {
  margin-top: 9px;
}

.site-navigation-basket a {
  position: relative;
  padding: 8px 15px 8px 45px;
  background-color: #fff;
  color: #000;
  border-radius: 16px;
}

.site-navigation-basket a:hover {
  background-color: #fff;
  color: #000;
}

.site-navigation-basket a::before {
  content: "";
  position: absolute;
  width: 21px;
  height: 20px;
  background-image: url("../img/header/basket-full.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  left: 16px;
  top: 6px;
}

.site-navigation-basket {
  position: relative;
}

.site-navigation-basket:hover .basket {
  display: block;
  position: absolute;
  width: 540px;
  min-height: 215px;
  background-color: #f8f7f4;
  right: 0px;
  top: 28px;
  border-radius: 7px;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
  z-index: 2;
}

.basket td {
  color: #323232;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
}

.basket span {
  color: #999;
}

table {
  margin: 20px 15px;
  border-spacing: 0px;
  width: 510px;
}

table button {
  outline: none;
  cursor: pointer;
  border: none;
  background-color: transparent;
}
td:first-child {
  padding-left: 6px;
  padding-right: 10px;
  height: 46px;
}

td:nth-child(3) {
  padding-left: 14px;
  padding-right: 32px;
}

td:nth-child(4) {
  padding-right: 28px;
}

.basket-line {
  margin-left: 15px;
  width: 510px;
  border-bottom: 1px solid rgb(255, 255, 255);
}

.all-cost {
  font-size: 15px;
  font-weight: 700;
  color: #000;
  margin: 15px 15px 0 0;
}

.bye-items {
  margin: 10px 15px 20px 0;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76),
    0 0 5px rgba(61, 61, 46, 0.34);
  padding: 12px 16px 12px 16px;
  background: linear-gradient(to top, #e74a35, #f26843);
  border-radius: 32px;
  box-shadow: 0px 2px 2px rgba(172, 16, 0, 0.64);
  border: none;
  cursor: pointer;
}

.bye-items:hover {
  background: linear-gradient(to bottom, #f58669, #ec6f5e);
}

.bye-items:active {
  background: linear-gradient(to bottom, #d74632, #e1613e);
  box-shadow: inset 1px 2px 1px 0px rgba(149, 39, 24, 0.5);
}

.bye-items:focus {
  outline: none;
}

.navigation-page-and-contacts {
  display: flex;
  justify-content: space-between;
}

.navigation-page {
  align-self: flex-end;
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 4px;
}

.navigation-page-main {
  margin-right: 7px;
}

.navigation-page-catalog {
  margin: 0 5px;
}

.ice-cream-section {
  font-size: 35px;
  font-weight: 700;
}

.product-selection {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.product-selection-part-one {
  display: flex;
  flex-direction: row;
  margin-top: 14px;
}

.input-fatty {
  padding: 20px;
  background-color: red;
}

.product-selection-part-two {
  display: flex;
  flex-direction: row;
}

select {
  height: 36px;
  width: 193px;
  background-color: #a9bab0;
  color: #fff;
  border-radius: 18px;
  outline: none;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  font-weight: 500;
  padding-left: 16px;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url("../img/main/form/icon-down-dir.png");
  background-repeat: no-repeat;
  background-position: right 15px center;
  cursor: pointer;
}

select:hover {
  color: #323232;
  background-image: url("../img/main/form/icon-down-dir-black.png");
  background-repeat: no-repeat;
  background-position: right 15px center;
  cursor: pointer;
}

select:focus {
  color: #323232;
  background-image: url("../img/main/form/icon-down-dir-black.png");
  background-repeat: no-repeat;
  background-position: right 15px center;
  background-color: #fff;
  cursor: pointer;
}

label[for="sort"] {
  font-size: 14px;
  font-weight: 500;
  display: block;
  margin-left: 16px;
  padding-bottom: 3px;
}

.list-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  margin-top: 28px;
}

.list-items img {
  margin-bottom: 8px;
}
.checkbox-list {
  background-color: rgba(255, 255, 255, 0.2);
  padding: 5px 19px 0px 19px;
  border-radius: 32px;
  font-weight: 500;
}

.list-items li {
  width: 267px;
  margin-bottom: 26px;
  text-align: center;
  position: relative;
  margin-top: 6px;
  box-sizing: border-box;
}

.list-items div {
  position: relative;
  padding-top: 6px;
}
.main-cost-ice-cream {
  top: 228px;
  position: absolute;
  font-size: 45px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

.list-items li div:hover {
  position: absolute;
  min-height: 300px;
  left: -13px;
  margin-top: 0px;
  padding: 6px 13px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  z-index: 1;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
}

.main-cost-ice-cream span {
  font-size: 30px;
}

.main-about-ice-cream {
  line-height: 22px;
  text-align: center;
  font-weight: 500;
}

.main-about-ice-cream span {
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

.list-items li div:hover .fast-seen-button {
  display: inline;
}
.fast-seen-button {
  margin-top: 19px;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76),
    0 0 5px rgba(61, 61, 46, 0.34);
  padding: 13px 42px 13px 41px;
  background: linear-gradient(to top, #e74a35, #f26843);
  border-radius: 32px;
  box-shadow: 0px 2px 2px rgba(172, 16, 0, 0.64);
  border: none;
  margin-bottom: 20px;
}

.fast-seen-button:hover {
  background: linear-gradient(to bottom, #f58669, #ec6f5e);
}

.fast-seen-button:active {
  background: linear-gradient(to bottom, #d74632, #e1613e);
  box-shadow: inset 1px 2px 1px 0px rgba(149, 39, 24, 0.5);
}

.fast-seen-button:focus {
  outline: none;
}

.paging {
  text-align: right;
  margin-top: 52px;
  margin-bottom: 30px;
}

.paging button {
  width: 24px;
  height: 24px;
  background-color: transparent;
  outline: none;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
}

.paging .number-page:hover {
  background-color: rgba(225, 225, 225, 0.5);
  border-radius: 50%;
}

.number-page.page-one {
  background-color: #fff;
  border-radius: 50%;
  color: #000;
}
.number-page.page-one:hover {
  color: #fff;
}

.main-footer {
  display: flex;
  min-height: 103px;
}

.social-button img {
  border: 3px solid #c2cec7;
  border-radius: 50%;
}

.social-button-list {
  margin-top: 33px;
}

.social-button-list li {
  margin-right: 11px;
}

.about-company {
  display: flex;
  margin-left: 225px;
  margin-top: 31px;
  font-size: 13px;
  font-weight: 400;
}

.about-company ul {
  list-style: none;
}

.about-company-list-one {
  margin-right: 32px;
}

.about-company-list-one li:first-child a {
  font-weight: bold;
  position: relative;
}

.about-company-list-one li:first-child a::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 13px;
  background-image: url("../img/footer/heart.svg");
  background-repeat: no-repeat;
  top: 2px;
  left: -22px;
}

.main-footer {
  position: relative;
}

.logo-in-footer {
  position: absolute;
  right: 80px;
  top: 20px;
}

.made-a-company {
  display: inline-block;
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  margin-top: 62px;
  margin-left: 220px;
  letter-spacing: 0px;
}
